<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="../images/LogoNQC.png" type="image/icon type" />

    <title>Detail_NQC Sneaker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FontAwesome  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Owl Carousel  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/detail.css" />
    <script src="../controllers/auth.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <!-- NavBar  -->
      <header class="header-brand d-flex justify-content-between">
        <div class="logo">
          <a href="index.html"><img src="../images/LogoNQC.png" /></a>
        </div>
        <div class="login_logout">
          <a href="./login.html">log out</a>
          <a href="#">sign up</a>
        </div>
      </header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Men
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Shoes</a>
                <a class="dropdown-item" href="#">Accessories</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other Items</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Women
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Shoes</a>
                <a class="dropdown-item" href="#">Accessories</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other Items</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Kids
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Shoes</a>
                <a class="dropdown-item" href="#">Accessories</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other Items</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button id="search-button" type="button" class="btn btn-success">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-heart"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- body  -->
    <div class="container">
      <div class="imgBx img-zoom-container">
        <img id="HinhSP" alt="Nike Jordan Proto-Lyte Image" />
        <div class="lens"></div>
        <div class="result"></div>
      </div>
      <div class="details">
        <div class="content">
          <h2 id="TenSP">
            <br />
            <span>Running Collection</span>
          </h2>
          <p id="moTaSP"></p>

          <input type="number" min="0" max="10" step="1" id="quantity" />

          <p class="product-colors">
            Available Colors:
            <span
              class="black active"
              data-color-primary="#000"
              data-color-sec="#212121"
              data-pic="https://github.com/anuzbvbmaniac/Responsive-Product-Card---CSS-ONLY/blob/master/assets/img/jordan_proto.png?raw=true"
            ></span>

            <span
              class="red"
              data-color-primary="#7E021C"
              data-color-sec="#bd072d"
              data-pic="https://github.com/anuzbvbmaniac/Responsive-Product-Card---CSS-ONLY/blob/master/assets/img/jordan_proto_red_black.png?raw=true"
            ></span>
            <span
              class="orange"
              data-color-primary="#CE5B39"
              data-color-sec="#F18557"
              data-pic="https://github.com/anuzbvbmaniac/Responsive-Product-Card---CSS-ONLY/blob/master/assets/img/jordan_proto_orange_black.png?raw=true"
            ></span>
          </p>
          <h3 id="GiaSP"></h3>
          <button class="btn" onclick="addProduct()">add product</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="product-info-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="description-tab"
              data-toggle="tab"
              href="#description"
              role="tab"
              aria-controls="description"
              aria-selected="true"
              >Description</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="review-tab"
              data-toggle="tab"
              href="#review"
              role="tab"
              aria-controls="review"
              aria-selected="false"
              >Reviews (0)</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="description"
            role="tabpanel"
            aria-labelledby="description-tab"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum. Sed ut
            perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam.
          </div>
          <div
            class="tab-pane fade"
            id="review"
            role="tabpanel"
            aria-labelledby="review-tab"
          >
            <div class="review-heading">REVIEWS</div>
            <p class="mb-20">There are no reviews yet.</p>
            <form class="review-form">
              <div class="form-group">
                <label>Your rating</label>
                <div class="reviews-counter">
                  <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Your message</label>
                <textarea class="form-control" rows="10"></textarea>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name=""
                      class="form-control"
                      placeholder="Name*"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name=""
                      class="form-control"
                      placeholder="Email Id*"
                    />
                  </div>
                </div>
              </div>
              <button type="submit" class="round-black-btn">
                Submit Review
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="headline">
      <p>More Accessories You Can Also Like</p>
    </div>
    <!-- carousel  -->
    <div class="owl-carousel owl-theme .mg-bottom-50">
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/6f1fd33a-b12c-4365-9c45-97c8ef866305/sportswear-bucket-hat-pnF01f.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/i1-8bf4d8a6-68cb-45d1-97c9-81b2bd0b1522/utility-training-shoe-tote-wMMHtH.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/2242a221-a5ab-473d-a46c-24d903229b7d/jordan-jumpman-heritage86-washed-cap-f59xF8.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/98a7c153-a142-419c-a3b4-6cee23ee5133/tech-hip-pack-CXfVh3.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/9b5077a8-eee1-4a6d-a4ca-e728e1fe167d/sportswear-essentials-backpack-P7wrNm.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/9686a089-20c1-48cc-814d-fbc16ef026e2/sb-reversible-skate-bucket-hat-fm0rx8.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/ff7588c1-76e1-4e9e-bd8a-6f296053c18d/sportswear-essentials-cross-body-bag-ZBDCWj.png"
          alt=""
        />
      </div>
      <div class="item">
        <img
          src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/2e3218a4-3b60-4203-8404-16f53c80b466/sportswear-futura-365-cross-body-bag-dMg0TV.png"
          alt=""
        />
      </div>
    </div>

    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container-fluid text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>NQC COMPANY
              </h6>
              <img
                style="width: 100px; height: auto"
                src="../images/LogoNQC.png"
                alt=""
              />
              <p>One shoe can change your life.</p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Products</h6>
              <p>
                <a href="#!" class="text-reset">Angular</a>
              </p>
              <p>
                <a href="#!" class="text-reset">React</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Vue</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">nqccompany.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- <div class="container bg-light">

      <div class="images">
        <img src="" id="HinhSP" />
      </div>
      <div class="slideshow-buttons">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
      </div>
      <div class="pick__sizes">
        <div class="sizes">
          <div class="size">5</div>
          <div class="size">6</div>
          <div class="size">7</div>
          <div class="size">8</div>
          <div class="size">9</div>
          <div class="size">10</div>
          <div class="size">11</div>
          <div class="size">12</div>
        </div>
      </div>
      <div class="product">
        <p>Women's Running Shoe</p>
        <h1 id="TenSP">Nike Epic React Flyknit</h1>
        <h3 id="GiaSP">150$</h3>
        <p id="moTaSP">
          The Nike Epic React Flyknit foam cushioning is responsive yet
          light-weight, durable yet soft. This creates a sensation that not only
          enhances the feeling of moving forward, but makes running feel fun,
          too.
        </p>

        <p class="quatity-spinner">
          <input type="number" min="0" max="10" step="1" id="quantity" />
        </p>
        <div class="buttons">
          <button class="add" onclick="addProduct()">Add to Cart</button>
          <button class="like"><span>♥</span></button>
        </div>
      </div>
    </div> -->
    <!-- the modal  -->
    <!-- <div class="modal-body">
      <div class="form-group">
        <label>Tên Sản Phẩm</label>
        <input
          id="TenSP"
          class="form-control"
          placeholder="Nhập vào tên sản phẩm"
        />
      </div>
      <div class="form-group">
        <label></label>
        <input id="GiaSP" class="form-control" placeholder="Nhập vào giá" />
      </div>
      <div class="form-group">
        <label>Hình Ảnh</label>
        <img src="" id="HinhSP" />
      </div>
      <div class="form-group">
        <label for="">mô tả: </label>
        <input type="" id="moTaSP" />
      </div>
      <div class="form-group">
        <label for="">So Luong: </label>
        <input type="" id="quantity" />
      </div>
    </div> -->
    <!-- Modal footer -->
    <!-- <div class="modal-footer"> -->
    <!-- <img src="" alt=""> -->
    <!-- </div> -->

    <!-- <button class="btn btn-success" onclick="addProduct()">add product</button> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!--  import axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="../models/shoes.js"></script>
    <script src="../controllers/detail.js"></script>

    <script src="/utils/bootstrap-input-spinner.js"></script>
    <script src="/utils/custom-editors.js"></script>
    <script>
      $("input[type='number']").inputSpinner();
      $(".buttons-only").inputSpinner({
        buttonsOnly: true,
        autoInterval: undefined,
      });
    </script>
    <!-- magnify zoom  -->
    <script src="../utils/magnifying_img.js"></script>
    <!-- <script>
      imageZoom("HinhSP", "myresult");
    </script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(".owl-carousel").owlCarousel({
        stagePadding: 50,
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 5,
          },
        },
      });
    </script>
    <!-- alert  -->

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
    />
    <!-- Default theme -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"
    />
    <!-- Semantic UI theme -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"
    />
    <!-- Bootstrap theme -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
    />
  </body>
</html>
